.content-section {
  padding: 4rem 0 2rem; }

.block-icon-left {
  overflow: auto; }
  .block-icon-left h1,
  .block-icon-left h2,
  .block-icon-left h3,
  .block-icon-left h4,
  .block-icon-left h5,
  .block-icon-left h6 {
    margin: 0 0 .75rem;
    padding: 0;
    font-size: 1.4rem; }
  .block-icon-left .icon-content {
    float: left;
    width: 70%; }
  .block-icon-left .icon {
    float: left;
    width: 30%;
    margin-top: .75rem; }

.who-section {
  width: 100%;
  padding: 3rem 0;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#banner {
  background: url(../img/intro.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.antispam {
  display: none; }

@media (min-width: 767px) {
  .who-section {
    padding: 6rem 0; } }

#clients {
  text-align: center;
  padding-bottom: 5rem; }
  #clients .list-inline {
    letter-spacing: -6px;
    margin: 0 -1rem 1rem; }
    #clients .list-inline li {
      letter-spacing: 0;
      padding: .5rem 1rem;
      vertical-align: middle; }

#contact {
  padding-bottom: 5rem; }

.page-scroll {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -webkit-transform;
  -moz-transition-duration: 1s; }

.banner-social-buttons {
  letter-spacing: -6px;
  margin: 0 -.5rem 1rem; }
  .banner-social-buttons li {
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 .5rem .5rem;
    letter-spacing: 0; }

/*
 * Extra utilities
 */
.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1; } }

.overflow-hidden {
  overflow: hidden; }
